In [1]:
import os, json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [12]:
def getCurrentWeather(params):
    weather = 'http://api.openweathermap.org/data/2.5/weather'
    params['APPID'] = os.environ['APPID']
    params['units'] = 'metric'
    return requests.get(weather,params)

In [36]:
params = {'q':'Beirut'}

In [37]:
response = getCurrentWeather(params)

In [38]:
response.status_code

200

In [39]:
response.json()

{'base': 'stations',
 'clouds': {'all': 75},
 'cod': 200,
 'coord': {'lat': 33.89, 'lon': 35.49},
 'dt': 1585518797,
 'id': 276781,
 'main': {'feels_like': 6.25,
  'humidity': 72,
  'pressure': 1014,
  'temp': 12.54,
  'temp_max': 17,
  'temp_min': 4.44},
 'name': 'Beirut',
 'sys': {'country': 'LB',
  'id': 7532,
  'sunrise': 1585538865,
  'sunset': 1585583809,
  'type': 1},
 'timezone': 10800,
 'visibility': 8000,
 'weather': [{'description': 'broken clouds',
   'icon': '04n',
   'id': 803,
   'main': 'Clouds'}],
 'wind': {'deg': 230, 'speed': 8.2}}

In [6]:
response.status_code

200

## Getting World Cities

In [16]:
world_cities = requests.get('https://worldpopulationreview.com/world-cities/')

In [37]:
cities = BeautifulSoup(world_cities.text,'lxml')

In [18]:
cities = BeautifulSoup(world_cities.text,'lxml')

In [19]:
city_names = []
for i in cities.findAll('a')[41:241]:
    city_names.append(i.getText())

In [20]:
city_names[:5]

['Tokyo', 'Delhi', 'Shanghai', 'Sao Paulo', 'Mexico City']

In [21]:
city_populations = []
for i in range(1000):
    if i%5 == 0:
        city_populations.append(cities.findAll('td')[i+2].getText())

In [22]:
city_populations[:5]

['37,393,129', '30,290,936', '27,058,479', '22,043,028', '21,782,378']

In [34]:
world_temperatures = []
for i in range(200):
    params['q'] = city_names[i]
    response = getCurrentWeather(params)
    if response.status_code != 200:
        continue
    city_information = response.json()
    country = city_information['sys']['country']
    latitude = city_information['coord']['lat']
    longitude = city_information['coord']['lon']
    weather_condition = city_information['weather'][0]['description']
    temperature = city_information['main']['feels_like']
    city_data = {'City': city_names[i],
                 'Country': country,
                 'Latitude': latitude,
                 'Longitude': longitude,
                 'Population': city_populations[i],
                 'Weather': weather_condition,
                 'Temperature': temperature}
    world_temperatures.append(city_data)

world_temps_df = pd.DataFrame(world_temperatures, columns = city_data.keys())

In [41]:
world_temps_df

,City,Country,Latitude,Longitude,Population,Weather,Temperature
0,Tokyo,JP,35.69,139.69,"37,393,129",broken clouds,-1.55
1,Delhi,IN,28.67,77.22,"30,290,936",haze,21.40
2,Shanghai,CN,31.22,121.46,"27,058,479",light rain,8.51
3,Sao Paulo,BR,-23.55,-46.64,"22,043,028",light rain,24.34
4,Mexico City,MX,19.43,-99.13,"21,782,378",clear sky,22.62
5,Dhaka,BD,23.71,90.41,"21,005,860",haze,25.72
6,Cairo,EG,30.06,31.25,"20,900,604",few clouds,15.94
7,Beijing,CN,39.91,116.40,"20,462,610",clear sky,3.07
8,Mumbai,IN,19.01,72.85,"20,411,274",smoke,28.52
9,Osaka,JP,34.69,135.50,"19,165,340",broken clouds,5.31
10,Karachi,PK,24.91,67.08,"16,093,786",clear sky,22.08
11,Chongqing,CN,29.56,106.55,"15,872,179",scattered clouds,9.33
12,Istanbul,TR,41.04,28.98,"15,190,336",broken clouds,5.10
13,Buenos Aires,AR,-34.61,-58.38,"15,153,729",scattered clouds,30.36
14,Kolkata,IN,22.57,88.37,"14,850,066",haze,27.70
15,Lagos,NG,6.58,3.75,"14,368,332",scattered clouds,33.47
16,Kinshasa,CD,-4.32,15.32,"14,342,439",thunderstorm with light rain,25.77
17,Manila,PH,14.60,120.98,"13,923,452",few clouds,30.24
18,Tianjin,CN,39.14,117.18,"13,589,078",clear sky,4.31
19,Rio De Janeiro,BR,-22.90,-43.21,"13,458,075",broken clouds,27.55
20,Guangzhou,CN,23.12,113.25,"13,301,532",overcast clouds,15.03
21,Lahore,PK,31.55,74.34,"12,642,423",smoke,15.85
22,Moscow,RU,55.75,37.62,"12,537,954",overcast clouds,2.29
23,Shenzhen,CN,22.55,114.07,"12,356,820",scattered clouds,19.57
24,Bangalore,IN,12.98,77.60,"12,326,532",clear sky,21.96
25,Paris,FR,48.85,2.35,"11,017,230",broken clouds,-5.42
26,Bogota,CO,4.61,-74.08,"10,978,360",shower rain,16.05
27,Chennai,IN,13.09,80.28,"10,971,108",mist,29.92
28,Jakarta,ID,-6.21,106.85,"10,770,487",haze,31.84
29,Lima,PE,-12.04,-77.03,"10,719,188",broken clouds,24.65
...,...,...,...,...,...,...,...
162,Bandung,ID,-6.90,107.62,"2,580,191",overcast clouds,23.50
163,Pretoria,ZA,-25.74,28.19,"2,565,660",broken clouds,18.50
164,Shaoxing,CN,30.01,120.57,"2,540,018",light rain,7.79
165,Yantai,CN,37.53,121.40,"2,526,702",clear sky,-0.07
166,Huizhou,CN,23.08,114.40,"2,524,543",light rain,23.34
167,Tashkent,UZ,41.26,69.22,"2,517,381",overcast clouds,6.03
168,Accra,GH,5.56,-0.20,"2,514,005",broken clouds,29.33
169,Lubumbashi,CD,-11.66,27.48,"2,478,262",moderate rain,18.02
170,Toluca De Lerdo,MX,19.29,-99.67,"2,467,241",few clouds,20.33
171,San Juan,AR,-31.54,-68.54,"2,448,417",overcast clouds,22.36
172,Beirut,LB,33.89,35.49,"2,424,425",broken clouds,6.25
173,Brisbane,AU,-27.47,153.03,"2,406,182",scattered clouds,20.92
174,Damascus,SY,33.51,36.29,"2,392,045",scattered clouds,-0.78
175,Bhopal,IN,23.27,77.40,"2,389,547",clear sky,19.00
176,Brazzaville,CG,-4.27,15.28,"2,388,090",thunderstorm with light rain,25.77
177,Luoyang,CN,34.68,112.45,"2,387,094",scattered clouds,1.82
178,Houston,US,29.76,-95.36,"2,378,146",broken clouds,19.91
179,Tunis,TN,34.00,9.00,"2,365,201",few clouds,5.42
180,Baku,AZ,40.38,49.89,"2,341,443",overcast clouds,5.42
181,Tangerang,ID,-6.18,106.63,"2,338,547",scattered clouds,30.67
182,Medan,ID,3.58,98.67,"2,337,958",haze,33.32
183,Belem,BR,-1.46,-48.50,"2,334,462",broken clouds,30.23
184,Sendai,JP,38.27,140.87,"2,327,417",broken clouds,-3.22
185,Mogadishu,SO,2.04,45.34,"2,282,009",clear sky,29.94
186,Nantong,CN,32.03,120.87,"2,275,777",light rain,6.10
187,Barranquilla,CO,10.96,-74.80,"2,272,914",few clouds,32.33
188,Manaus,BR,-3.10,-60.02,"2,260,788",broken clouds,32.55
189,Maracaibo,VE,10.63,-71.64,"2,257,999",few clouds,29.58
190,Taoyuan,CN,32.30,120.62,"2,245,162",light rain,5.99
191,Rawalpindi,PK,33.60,73.07,"2,236,905",overcast clouds,14.38

In [29]:
city_names[190:200]

['Medan',
 'Belem',
 'Sendai',
 'Mogadishu',
 'Nantong',
 'Barranquilla',
 'Manaus',
 'Maracaibo',
 'Taoyuan',
 'Rawalpindi']

In [30]:
city_populations[190:200]

['2,337,958',
 '2,334,462',
 '2,327,417',
 '2,282,009',
 '2,275,777',
 '2,272,914',
 '2,260,788',
 '2,257,999',
 '2,245,162',
 '2,236,905']

In [136]:
world_temps_df.sort_values('Temperature',ascending=False).head()

          City Country Population           Weather  Temperature
188     Manaus      BR  2,260,788       shower rain        37.65
183      Belem      BR  2,334,462  scattered clouds        34.30
76   Monterrey      MX  4,874,095         clear sky        34.15
91      Recife      BR  4,127,091      thunderstorm        33.28
136  Guayaquil      EC  2,994,218        few clouds        33.26

In [140]:
world_temps_df.query('Country == "JP"')

         City Country  Population           Weather  Temperature
0       Tokyo      JP  37,393,129   overcast clouds         4.56
9       Osaka      JP  19,165,340  scattered clouds         2.10
33     Nagoya      JP   9,552,132   overcast clouds         4.76
64    Fukuoka      JP   5,528,632     broken clouds        12.15
141  Shizuoka      JP   2,922,320   overcast clouds         5.90
155   Sapporo      JP   2,669,680        few clouds        -3.20
184    Sendai      JP   2,327,417     broken clouds        -0.45

In [44]:
world_temps_df.to_csv('weather.csv')