In [6]:
import os
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [7]:
def getCurrentWeather(params):
    weather = 'http://api.openweathermap.org/data/2.5/weather'
    params['APPID'] = os.environ['APPID']
    params['units'] = 'metric'
    return requests.get(weather,params)

In [8]:
params = {'q':'Paris'}

In [9]:
response = getCurrentWeather(params)

In [10]:
response.status_code

200

In [11]:
response.json()

{'base': 'stations',
 'clouds': {'all': 48},
 'cod': 200,
 'coord': {'lat': 48.85, 'lon': 2.35},
 'dt': 1586738716,
 'id': 2988507,
 'main': {'feels_like': 9.91,
  'humidity': 62,
  'pressure': 1012,
  'temp': 13.31,
  'temp_max': 16,
  'temp_min': 10},
 'name': 'Paris',
 'rain': {'3h': 0.68},
 'sys': {'country': 'FR',
  'id': 6550,
  'sunrise': 1586754169,
  'sunset': 1586803128,
  'type': 1},
 'timezone': 7200,
 'visibility': 10000,
 'weather': [{'description': 'light rain',
   'icon': '10n',
   'id': 500,
   'main': 'Rain'}],
 'wind': {'deg': 40, 'speed': 3.6}}

## Getting World Cities

In [9]:
world_cities = requests.get('https://worldpopulationreview.com/world-cities/')

In [10]:
cities = BeautifulSoup(world_cities.text,'lxml')

In [12]:
city_names = []
for i in cities.findAll('a')[41:241]:
    city_names.append(i.getText())

In [13]:
city_names[:5]

['Tokyo', 'Delhi', 'Shanghai', 'Sao Paulo', 'Mexico City']

In [14]:
city_populations = []
for i in range(1000):
    if i%5 == 0:
        city_populations.append(cities.findAll('td')[i+2].getText())

In [15]:
city_populations[:5]

['37,393,129', '30,290,936', '27,058,479', '22,043,028', '21,782,378']

## Putting it all together

In [16]:
world_temperatures = []
for i in range(200):
    params['q'] = city_names[i]
    response = getCurrentWeather(params)
    if response.status_code != 200:
        continue
    city_information = response.json()
    country = city_information['sys']['country']
    latitude = city_information['coord']['lat']
    longitude = city_information['coord']['lon']
    weather_condition = city_information['weather'][0]['description']
    temperature = city_information['main']['feels_like']
    max_temp = city_information['main']['temp_max']
    min_temp = city_information['main']['temp_min']
    city_data = {'City': city_names[i],
                 'Country': country,
                 'Latitude': latitude,
                 'Longitude': longitude,
                 'Population': city_populations[i],
                 'Weather': weather_condition,
                 'Temperature (C)': temperature,
                 'Temperature Max (C)': max_temp,
                 'Temperature Min (C)': min_temp}
    world_temperatures.append(city_data)

world_temps_df = pd.DataFrame(world_temperatures, columns = city_data.keys())

In [17]:
world_temps_df

,City,Country,Latitude,Longitude,Population,Weather,Temperature (C),Temperature Max (C),Temperature Min (C)
0,Tokyo,JP,35.69,139.69,"37,393,129",light intensity shower rain,3.65,12.00,6.67
1,Delhi,IN,28.67,77.22,"30,290,936",haze,27.08,30.00,24.00
2,Shanghai,CN,31.22,121.46,"27,058,479",clear sky,7.69,12.00,11.00
3,Sao Paulo,BR,-23.55,-46.64,"22,043,028",broken clouds,15.71,22.22,16.00
4,Mexico City,MX,19.43,-99.13,"21,782,378",broken clouds,18.12,34.00,22.00
5,Dhaka,BD,23.71,90.41,"21,005,860",haze,30.63,27.00,27.00
6,Cairo,EG,30.06,31.25,"20,900,604",clear sky,14.44,16.00,15.56
7,Beijing,CN,39.91,116.40,"20,462,610",clear sky,10.41,17.22,10.00
8,Mumbai,IN,19.01,72.85,"20,411,274",haze,33.12,28.00,28.00
9,Osaka,JP,34.69,135.50,"19,165,340",light intensity shower rain,7.11,10.56,6.67
10,Karachi,PK,24.91,67.08,"16,093,786",few clouds,26.13,26.00,26.00
11,Chongqing,CN,29.56,106.55,"15,872,179",overcast clouds,15.66,16.67,15.00
12,Istanbul,TR,41.04,28.98,"15,190,336",clear sky,1.40,7.78,5.00
13,Buenos Aires,AR,-34.61,-58.38,"15,153,729",broken clouds,18.04,21.11,18.00
14,Kolkata,IN,22.57,88.37,"14,850,066",haze,30.58,26.00,26.00
15,Lagos,NG,6.58,3.75,"14,368,332",few clouds,33.77,29.00,29.00
16,Kinshasa,CD,-4.32,15.32,"14,342,439",broken clouds,27.79,24.00,24.00
17,Manila,PH,14.60,120.98,"13,923,452",broken clouds,31.17,27.78,27.00
18,Tianjin,CN,39.14,117.18,"13,589,078",clear sky,10.41,13.89,13.00
19,Rio De Janeiro,BR,-22.90,-43.21,"13,458,075",broken clouds,23.25,22.00,21.00
20,Guangzhou,CN,23.12,113.25,"13,301,532",scattered clouds,14.61,18.33,17.22
21,Lahore,PK,31.55,74.34,"12,642,423",mist,21.46,20.00,20.00
22,Moscow,RU,55.75,37.62,"12,537,954",overcast clouds,-3.94,5.00,-3.00
23,Shenzhen,CN,22.55,114.07,"12,356,820",scattered clouds,12.19,18.89,16.00
24,Bangalore,IN,12.98,77.60,"12,326,532",few clouds,22.07,20.00,20.00
25,Paris,FR,48.85,2.35,"11,017,230",light rain,11.14,16.00,10.00
26,Bogota,CO,4.61,-74.08,"10,978,360",broken clouds,13.96,18.00,18.00
27,Chennai,IN,13.09,80.28,"10,971,108",few clouds,30.42,27.22,26.00
28,Jakarta,ID,-6.21,106.85,"10,770,487",mist,31.81,27.78,24.44
29,Lima,PE,-12.04,-77.03,"10,719,188",scattered clouds,20.10,22.00,22.00
...,...,...,...,...,...,...,...,...,...
162,Bandung,ID,-6.90,107.62,"2,580,191",few clouds,24.15,22.36,22.36
163,Pretoria,ZA,-25.74,28.19,"2,565,660",broken clouds,16.94,18.33,14.44
164,Shaoxing,CN,30.01,120.57,"2,540,018",clear sky,8.55,14.00,12.22
165,Yantai,CN,37.53,121.40,"2,526,702",clear sky,4.48,10.39,10.39
166,Huizhou,CN,23.08,114.40,"2,524,543",scattered clouds,10.83,15.20,15.20
167,Tashkent,UZ,41.26,69.22,"2,517,381",light intensity shower rain,11.98,14.00,14.00
168,Accra,GH,5.56,-0.20,"2,514,005",scattered clouds,32.72,29.00,29.00
169,Lubumbashi,CD,-11.66,27.48,"2,478,262",scattered clouds,15.42,16.27,16.27
170,Toluca De Lerdo,MX,19.29,-99.67,"2,467,241",broken clouds,18.05,34.00,22.00
171,San Juan,AR,-31.54,-68.54,"2,448,417",overcast clouds,15.09,20.37,20.37
172,Beirut,LB,33.89,35.49,"2,424,425",scattered clouds,8.23,15.00,5.00
173,Brisbane,AU,-27.47,153.03,"2,406,182",few clouds,21.42,25.56,21.00
174,Damascus,SY,33.51,36.29,"2,392,045",clear sky,6.19,10.00,8.00
175,Bhopal,IN,23.27,77.40,"2,389,547",few clouds,21.82,25.78,25.78
176,Brazzaville,CG,-4.27,15.28,"2,388,090",broken clouds,27.83,24.00,24.00
177,Luoyang,CN,34.68,112.45,"2,387,094",clear sky,12.12,15.42,15.42
178,Houston,US,29.76,-95.36,"2,378,146",clear sky,21.67,30.00,26.67
179,Tunis,TN,34.00,9.00,"2,365,201",scattered clouds,11.30,15.00,15.00
180,Baku,AZ,40.38,49.89,"2,341,443",overcast clouds,4.08,9.00,9.00
181,Tangerang,ID,-6.18,106.63,"2,338,547",mist,29.96,27.78,24.44
182,Medan,ID,3.58,98.67,"2,337,958",haze,29.95,25.00,25.00
183,Belem,BR,-1.46,-48.50,"2,334,462",light rain,27.76,24.00,24.00
184,Sendai,JP,38.27,140.87,"2,327,417",light rain,2.92,9.00,7.78
185,Mogadishu,SO,2.04,45.34,"2,282,009",scattered clouds,30.21,27.92,27.92
186,Nantong,CN,32.03,120.87,"2,275,777",clear sky,10.94,12.22,11.67
187,Barranquilla,CO,10.96,-74.80,"2,272,914",broken clouds,30.57,32.00,28.00
188,Manaus,BR,-3.10,-60.02,"2,260,788",few clouds,29.33,25.00,25.00
189,Maracaibo,VE,10.63,-71.64,"2,257,999",scattered clouds,26.29,29.19,29.19
190,Taoyuan,CN,32.30,120.62,"2,245,162",clear sky,11.03,12.22,11.67
191,Rawalpindi,PK,33.60,73.07,"2,236,905",few clouds,20.75,20.56,18.00

In [44]:
world_temps_df.to_csv('weather.csv')